body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  margin: 0;
}

h1 {
  font-size: large;
  color: hsl(241, 100%, 89%);
}

h2 {
  color: hsl(0, 0%, 100%);
}

h3 {
  
  margin-bottom: 0;
}

p {
  color: hsl(241, 100%, 89%);
}

button {
  background-color: hsl(224, 30%, 27%);
  border-radius: 30px;
  border: 0;
  color: hsl(0, 0%, 100%);
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
}

button:hover {
  cursor: pointer;
  background-color: hsl(241, 81%, 54%);
}

img {
  height: 0.8rem;
}

footer {
  margin-bottom: 1rem;
}

.result {
  background-color: hsl(0, 0%, 100%);
}

.result-info {
 background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  padding: 1.5rem;
}

.score {
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-digit {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
  margin: 0;
  font-weight: 800;
}

.score-valuation {
  margin: 0;
  color: hsl(0, 0%, 100%, 0.5);
  font-weight: 500;
}

.score-note {
  font-weight: 500;
}

.summary {
  padding: 0.8rem 2rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.summary-container {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  box-sizing: border-box;
}

.sums {
  border-radius: 10px;
  background-color: hsl(224, 30%, 27%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  padding: 0.8rem;
  box-sizing: border-box;
  border: ;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.reaction-word {
  color: hsl(0, 100%, 67%);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.memory-word {
  color: hsl(39, 100%, 56%);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.verbal-word {
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.visual-word {
  color: hsl(234, 85%, 45%);
}

.icon-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.number {
  font-weight: 700;
}

.number-score {
  color: hsla(224, 30%, 27%, 0.5);
  font-weight: 700;
}

@media (min-width: 735px) {
  body {
    height: 100vh;
  }

  .result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38rem;
    border-radius: 20px;
    box-shadow: 10px 10px 20px hsla(241, 81%, 54%, 0.1);
  }

  .result-info {
    width: 100%;
    border-radius: 20px;
  }

  .summary {}
}

@media (max-width: 735px) {
  body {
    flex-direction: column;
    gap: 4rem;
    margin: 0;
    padding: 0;
  }

  .result-info {
    width: ;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
  }

  .result {
    width: 100%;
  }
}